body {
    /* font-family:Arial, Helvetica, sans-serif; */
    font-family: "Roboto", sans-serif;
    background-color: hsl(33, 78%, 91%);
    color:rebeccapurple;
    margin: 0px;
}
.logo {
    max-width: 90px;
    display: block;
    /*margin: auto;
}
.navigation {
    text-align: center;
    background-color:hsl(33, 78%, 50%);
}
.navigation a {
    color:hsl(33, 78%, 91%);
    text-decoration: none;
    padding: 20px 10px;
    display: inline-block;
}
/* .navigation a:nth-child(2) {
    color: red;
} */
.navigation a:hover {
    background-color:hsl(33, 53%, 34%);
}
.banner {
    /* 50vh = 50% window height */
    min-height: 50vh;
    background-image: url("pexels-photo-2104152.jpeg");
    background-size: cover;
    background-position: center center;
}

.main-header {
    display: flex;
    justify-content:space-between;


}